@using CamadaDeApresentacao.Models
@model Aluno

@{
    ViewBag.Title = "Detalhes";
}

@section Toolbar{
    <input type="button" value="Remover este cadastro" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h2>
            Detalhes
        </h2>
        <p>AlunoID: @Model.AlunoID</p>
        <p>
            Nome: @Model.Nome
        </p>
        <p>
            Email: @Model.Email
        </p>
    </div>
</body>
</html>
