@using CamadaDeApresentacao.Models
@model ICollection<Aluno>
@{
    ViewBag.Title = "Alunos";
    Layout = "~/Views/Shared/K19Layout.cshtml";
}

@section Toolbar{
    <input type="search" placeholder="Digite o nome do aluno" />
    <input type="button" value="Buscar" />
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
</head>
<body>
    <div> 
        <h2>
            Tabela de Alunos
        </h2>
        <table>
            <tr>
                <th>AlunoID</th>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>@aluno.AlunoID</td>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Email</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
